{% extends 'layouts/baseClient.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    <div class="liste" class="row">
        <div class="text-center col-12 item border m-3 p-3">
            <h5>Section numéro 1</h5>
            {{form|crispy}}
        </div>
    </div>

    <button id="add" class="btn btn-outline-info">Ajout d'une section</button>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/disposition.js' %}"></script>
{% endblock content %}
