body {
    font-family: sans-serif;

}

nav {
    background-color: aquamarine;
}

#bandeau {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

footer {

}
