{% extends 'layouts/baseClient.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ Questionnaire.nom }}{% endblock title %}
{% load static %}
{% block content %}
    <div class="container">
        <h3 class="row m-3">{{ att.module.nom }}</h3>
        <div style="overflow-y: scroll; height: 350px;" class="row m-3 p-1 border rounded">
            {% for reponse in rep %}
                <div class="col-12">
                    <h5 class="text-center">{{ reponse.question__question }} (question à réponse unique)</h5>
                    <p class="lead text-right">
                        <small>{{ reponse.created_at }} </small>
                    </p>
                    Reponse du patient : <strong>{{ reponse.reponse__reponse }}</strong>
                </div>
            {% endfor %}

            {% for reponse in repMuti %}
                {% ifchanged %}
                    <div class="col-12 row">
                    <h5 class="col-12 text-center">{{ reponse.question__question }} (question à réponse multiple) </h5>
                    <p class="col-12 lead text-right">
                        <small>{{ reponse.created_at }} </small>
                    </p>
                    <div class="col-12">
                    Reponse du patient :<br>
                    <strong>
                {% endifchanged %}
            {{ reponse.reponses__reponse }}<br>
            {% ifchanged reponse.question__question %}
                </strong>
                </div>
                </div>
            {% endifchanged %}
            {% endfor %}

            {% for reponse in repLibre %}
                <div class="col-12">
                    <h5 class="text-center">{{ reponse.question__question }} (question à reponse libre) </h5>
                    <p class="lead text-right">
                        <small>{{ reponse.created_at }} </small>
                    </p>
                    Reponse du patient : <strong>{{ reponse.reponseLibre }}</strong>

                </div>
            {% endfor %}
        </div>
        <div class="m-3">
            <form method="post" action="./{{ enAtt.pk }}">
                {% csrf_token %}
                <div class="form-group">
                    {% for form in formVar %}
                        {{ form|crispy }}
                    {% endfor %}
                </div>
                <input type="submit" class="btn btn-success float-right">
            </form>
        </div>
    </div>
{% endblock content %}
