{% extends 'layouts/baseClient.html' %}
{% load static%}
{% block title %}{{user.first_name}} {{user.last_name}}{% endblock title %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-4 mt-5">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Mes notifications et mon avancement</a>
                <a class="list-group-item list-group-item-action" id="list-clinicien-list" data-toggle="list" href="#list-clinicien" role="tab" aria-controls="clinicien">Mon clinicien</a>
            </div>
        </div>
        <div class="col-md-12 col-lg-8 mt-5">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <div class="jumbotron">
                        <h1 class="display-4">Bienvenue {{ user.first_name }} !</h1>
                           {% for date in rendezvous %}
                           
                           {% if forloop.first %}
                            <p class="lead"> Notification : </p>
                            <ul>
                           {% endif  %}
                            <li>Demande pour "{{date.objet}}" le {{date.debut}} pour une durée de {{date.duree}} </li>
                            {% if forloop.last %}
                            </ul>
                           {% endif  %}
                            {% empty %}
                            <h3>Rien à signaler !</h3>
                           {% endfor date in rdv %}


                          {% if progressModule != None  %}
                        <p class="lead"> Votre progression :</p>
                         {% endif %}
                           {% for Module in progressModule %}
                            <div class="progress bg-white m-2">
                              {% if Module.progress != 100  %}
                                <div class="progress-bar progress-bar-animated bg-warning" role="progressbar" style="width: {{ Module.progress }}%" aria-valuenow="{{ Module.progress }}" aria-valuemin="0" aria-valuemax="100">
                               <a href="{% url 'module' Module.module__pk %}"><span class="text-dark"> Module : {{Module.module__nom}} </span></a>
                                </div>
                               {% else %}
                            <div class="progress-bar progress-bar-animated bg-warning" role="progressbar" style="width: {{ Module.progress }}%" aria-valuenow="{{ Module.progress }}" aria-valuemin="0" aria-valuemax="100"><span class="text-dark"> Module : {{Module.module__nom}} </span></div>
                               
                               {% endif %}
                            </div>
                            {% endfor %}

                    </div>
                </div>
                <div class="tab-pane fade" id="list-clinicien" role="tabpanel" aria-labelledby="list-clinicien-list">
                    <div class="row m-2">
                           <img class="col-2 border border-drak shadow rounded-left" src="{{user.patient.clinicienACharge.photoProfil.url}}" alt="{{user.patient.clinicienACharge.user.first_name|capfirst}}">
                        
                        <div class="col-10 border text-center rounded-right">
                            <br>
                            <br> Je me nomme {{user.patient.clinicienACharge.user.first_name}} je vous accompagnerai pour la suite !
                            <br> Mes informations : <a href="mailto:{{user.patient.clinicienACharge.user.email}}">{{user.patient.clinicienACharge.user.email}}</a>
                            <br> Psychologue clinicien agrés à l'hopital Lapeyronie 
                        </div>
                        
                        {% if user.patient.clinicienACharge.user.is_active %}
                        <div id="actif" class="alert alert-success col-12 text-center" role="alert">
                              Actif en ce moment
                        </div>
                        {% else %}
                        <div id="actif" class="alert alert-warning col-12 text-center" role="alert">
                              N'est pas disponible
                        </div>
                        {% endif %}
                            <div class="col-12 shadow mt-2 rounded">
                                <div class="row border p-2" data-spy="scroll" style="height: 400px; max-height: 500px;">
                                    <textarea id="chat-log" class="col-12" style="overflow: auto;"></textarea>
                                </div>
                                <div class="row col-12">
                                        <input type="text" class="col-10" id="chat-message-input">
                                        <button id="chat-message-submit" class="col-2 form-control btn btn-success">Envoyer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript" src="{% static 'js/moduleAjax.js' %}"></script>
<script type="text/javascript">
    var chat = "{{ salon }}";

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + chat + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var isCli = data['isCli'];
        if (isCli==false){
            var personne ="Vous : ";
        } else {
            var personne ="Votre clinicien : ";
        }
        $("#actif").html('<div id="actif" class="alert alert-success col-12 text-center" role="alert">\n'
            +'Actif en ce moment\n'
            +'</div>'
        );
        document.querySelector('#chat-log').value += (personne + message + '\n');
        };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'isCli':false,
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>
            {% endblock content %}
