{% extends 'layouts/baseClient.html'%}
{% load static%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="input-group mb-3" id="choixSection">
            <div class="input-group-prepend">
                <label class="input-group-text" for="SelectionPrincipal">Type de sections</label>
            </div>
            <select class="custom-select" id="SelectionPrincipal">
                <option value="0">Texte et image</option>
                <option value="1">Question</option>
                <option value="2">Vidéo</option>
            </select>
        </div>
        
        <div class="col-12" id="ZoneForm">
            
        <div class="" id="choixQuestion">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Type de question</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="1">Reponse libre</option>
                    <option value="2">Question avec une seul possibilité de réponse</option>
                    <option value="2">Question avec plusieurs possibilités de réponses</option>
                </select>
            </div>
        </div>


        </div>
    </div>
</div>





{% endblock content %}
