body, html{
    height:100%;
}
body {
    font-family: sans-serif;
}
#bandeau {
    background-color: #6dffaf;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}
