{% extends 'layouts/baseClient.html' %}
{% load static%}
{% block content %}
    <div class="container m-5">

        <a class="row btn btn-success float-right" role="button" href="{% url 'home' %}"> retour</a>
        <div class="row">
            <div class="col-4">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">Pourquoi faire une thérapie
                        ?</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">Qui sont les personnes
                        dirigeant
                        ce site ?</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">Es-ce que la thérapie marche
                        vraiment
                        ?</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">Es-ce que tu as une autre
                        question
                        ?</a>
                </div>
            </div>
            <div class="col-8" style="overflow: auto;">
                <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                    <h4 id="list-item-1">Pourquoi faire une thérapie ?</h4>
                    <p>
                        Nous avons plus de facilité à accpter une blessure physique que psychique,
                        ainsi il est plus courant d'aller chez un médecin pour pratiquer la médecine habituel sur nos
                        blessure,
                        maladie visuellement présente.
                        Or les blessures psychiques sont touché par tous le monde et si mal compris de l'homme, la
                        thérapie,
                        à
                        la meme manière qu'un docteur
                        s'appuie sur des études qui ont su prouvé leur éfficacités pour une grande majorité. Nous
                        accordons
                        beaucoup la confiance entre
                        le pratiquant et le thérapeute, aisni que l'entente et les accords sur les pratiques.
                    </p>
                    <h4 id="list-item-2">Qui sont les personnes dirigeant ce site ?</h4>
                    <p>
                        Professeur Raffard a lancé l'idée de se site dans le but d'une action plus facilitatrice des
                        soins à
                        la
                        vue des étudiants.
                    </p>
                    <h4 id="list-item-3">Es-ce que la thérapie marche vraiment ?</h4>
                    <p>
                        Nous avons remarque des études au Etat Unies utilisant la web thérapie, et nous avons remarque
                        que
                        les
                        effets de celle-ci est
                        similaire à une thérapie classique.
                    </p>
                    <h4 id="list-item-4">Es ce que tu as une autre question ?</h4>
                    <p>
                        Veuillez posez votre question, ici:
                        <input type="text" name="question">
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
