{% extends 'layouts/baseClient.html'%}

   {% block content %}
    <div class="container">
    </div>
    <!-- Premier container !-->
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12 text-center">

                <h4 class="h4 m-5">
                    Au souhait d'un monde sans négation, pour une meilleur perspective de demain.
                </h4>

                <a class="btn btn-dark" href="{% url 'choix' %}" role="button">Cliquer ici pour découvrir</a>
            </div>
        </div>
    </div>
    <br>
    <!-- second container !-->
    <div class="container">
        <div class="row">
            <div class="offset-sd-4 col-sd-4 offset-xs-4 col-xs-4 shadow p-3 mb-5 bg-white rounded text-break">
                HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
            </div>
        </div>
    </div>
    <!-- troisieme container !-->
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-6 mb-5 col-sm-12">
                <h5>Nos practiciens</h5>
                Jean Edmond
                A changer en version automatique
            </div>
            <div class="col-md-6 mb-5 col-sm-12">
                <h5>Notre but</h5>
                Améliorer l'accès au soin...
            </div>

        </div>
    </div>

    {% endblock %}
