{% extends 'layouts/baseClient.html' %}
{% load static%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
 <div class="row">
            <p class="col-12 m-3">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ModuleForm" aria-expanded="false" aria-controls="ModuleForm">
                Créer un nouveau module
              </button>
            </p>
            <div class="collapse col-12 mb-3" id="ModuleForm">
              <div class="card card-body">
                <form method="post" enctype="multipart/form-data">
               {% csrf_token %}
                {{formM|crispy}}
                <small>*Champs obligatoire</small>
                <input class="btn btn-primary float-right" type="submit">
               </form>
              </div>
            </div>
  <div class="col-6 m-3">
      <div class="card card-body">
            <div class="row">
                {% for modSection in modules %}
                  
                {% ifchanged %}
                <div class="col-12">
                   <div class="bg-light p-3 row rounded">
                   <div class="text-center col-12">
                    <h3 class="col-12">{{modSection.module__nom}}</h3>
                {% if modSection.isQuestionnaire is True %}
                <span class="text-success">Ceci est un questionnaire</span>
                {% else %}
                <span class="text-primary">Ceci est un module d'apprentissage</span>
                {% endif %}
                {% if modSection.module__questionnaireDependant is not None %}
                    <small class="col-12">Questionnaire dépendant : {{modSection.module__questionnaireDependant}}</small>
                {% else %}
                    <small class="col-12">Aucun questionnaire dépendant n'existe</small>
                {% endif %}
                   </div>
                    <p class="col-12">Description : <br><small> {{modSection.module__desc}}</small></p>
                    <a href="" class="btn btn-primary float-right" role="button">Modifier</a>
                   </div>
                {% endifchanged %}
                  
                <div class="col-12 mt-3"> Section numéro {{modSection.ordre}} : {{modSection.titre}}
                    <a href="" class="btn btn-primary float-right" role="button">Modifier la section</a>
                </div>
                   {% ifchanged modSection.module__nom %}
                </div>
                  <hr>
                   {% endifchanged %}
                {% endfor %}
            </div>
      </div>

  </div>
</div>

</div>
{% endblock content %}